.item {
    display: flex;
    flex-direction: row;
    height: 0.75rem;
    width: 0.75rem; 
    border-radius: 3px;
    margin: 0.1rem;
  }
  
  .item:hover {
    border: 1px solid papayawhip;
  }
  