.card {
  margin: 2rem;
  align-content: center;
  
  border-width: 0;
}
.input {
 
  width: 10rem;
  padding: 2rem;
  border-radius: 3rem;
}

.login-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
